@import "tailwindcss";
* {
    box-sizing: border-box;
    cursor: url("/World of Warcraft Pixel-cursor.png") 6 2, auto !important;
}

*:active {
    cursor: url("/World of Warcraft Pixel-pointer.png") 6 2, pointer !important;
}

html,
body,
#root {
    font-family: 'MedievalSharp', 'Palatino Linotype', 'Georgia', serif;
    margin: 0;
    width: 100%;
    height: 100%;
}


.button-bg {
    background: radial-gradient(ellipse at center, #B91c1c, #460809);
}

.button-bg:hover {
    background: radial-gradient(ellipse at center, #DC2626, #460809 );
}

.button-bg:active {
    background: radial-gradient(ellipse at center, #DF3B3B, #582021);
}

.fantasy-button{
    padding-left: 11.73px;
    padding-right: 11.73px;
    border: 12px solid transparent;
    border-image-source: url("/ui/gold-btn-border.svg");
    border-image-slice: 12;
    border-image-repeat: stretch;
}

